[submodule "app/assets/notifier"]
	path = app/assets/notifier
	url = https://github.com/thebrenny/notifier
	ignore = all
[submodule "app/routes/express-errors"]
	path = app/routes/express-errors
	url = https://github.com/thebrenny/express-errors
	ignore = all
