// https://coolors.co/1d8ac4-d69f40-bae617-cc3e1d-222222
$black: #222222; // Text color
$notblack: #444444;
$lightgrey: #cccccc;
$grey: #aaaaaa; // White could be accent?
$darkgrey: #777777;
$white: #efefef; // White could be accent?

$blue: #1D8Ac4; // Background
$green: #BAE617; // Green means go!
$red: #CC3E1D; // Red is bad!
$orange: #D69F40;

$navActive: $orange;
$navHover: scale-color($navActive, $lightness: -20%);
$navInactive: scale-color($navActive, $lightness: -30%);

@import "mixins";

html {
    background: $blue;
    color: $black;
}

app {
    display: flex;
    flex-flow: column;
    margin: 1rem 2.5rem;
    gap: 1rem;

    @include desktop {
        max-width: calc(1024px - 2.5rem * 2);
        margin: 1rem auto;
    }
}

.hr {
    border-bottom: 1.25px solid $black;
    width: 90%;
    align-self: center;
}

.felx-br {
    flex-basis: 100%;
    height: 0;
}

blockquote.error {
    background: $grey;
    padding: 1rem 1.5rem;
    border-left: 0.5rem solid;
    border-radius: 0.5rem;
    border-image: linear-gradient(to bottom, $orange, $red) 1 100%;
    color: $notblack;
}

.flex {
    display: flex;
}

div.navbar {
    margin-bottom: 0.5rem;
    flex-flow: row;
    justify-content: space-evenly;

    &>.navbarItem {
        flex-grow: 0.175;
        text-align: center;
        border-radius: 0 0 1em 1em;
        background: $navInactive;
        // background: change-color($orange, $alpha: 0.5);
        line-height: 3em;
        height: 3em;
        font-size: 1rem;
        cursor: pointer;

        &.active {
            background: $navActive;
        }

        &:not(.active):hover {
            background: $navHover;
        }
    }

    @include tablet {
        &.open {
            flex-flow: column;
        }

        &.closed>.navbarItem {
            display: none;
        }
    }
}

input,
select,
textarea {
    border-radius: 0.6rem;
    padding: 0.5em !important;
    border: none;
    display: block;
    box-sizing: border-box;
    transition: border 0.2s;
    border-bottom: 0.2em solid rgba($green, 0);

    &[disabled] {
        color: $notblack;
        font-weight: 100;
        font-style: italic;

        &:hover,
        &:focus {
            border-bottom: 0.2em solid $red !important;
        }
    }

    &:hover,
    &:focus {
        border-bottom: 0.2em solid $green;
        outline: none;
    }
}

.btn,
input[type="submit"] {
    background: $green;
    padding: 1rem;
    border-radius: 0.6rem;
    transition: 0.2s ease-out;
    user-select: none;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    &:not([disabled]) {
        cursor: pointer;
    }

    &:not([disabled]):hover {
        filter: brightness(85%);
    }

    &:not([disabled]):active {
        filter: brightness(75%);
    }

    &.red {
        background: $red;
    }
}

.contactForm {
    flex-flow: column;
    width: 100%;
    gap: 1em;
}

#error {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    box-shadow: 0 5px 10px $darkgrey;
    background-color: $white;

    width: 70%;
    max-width: 1020px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;

    .preWrap {
        background: $lightgrey;
        border-radius: 0.5em;
        box-shadow: inset -5px 0 20px -5px $darkgrey;
        padding-bottom: 0.6em;

        pre {
            overflow-x: scroll;
            padding: 1em;
            padding-bottom: 0.5em;
            color: $darkgrey;

            &::-webkit-scrollbar {
                width: 0.75em;
                height: 0.75em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $grey;
                border-radius: 10em;
                margin: 2em;

                &:hover {
                    background-color: $darkgrey;
                }
            }

            &::-webkit-scrollbar-button {
                background: transparent;
                width: 1em;
            }

            span.highlight {
                color: $black;
            }
        }
    }
}